* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

nav {
    height: 100px;
    background-color: rgb(255, 119, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.mainbody {
    background-color: rgba(255, 255, 255, 0.388);
    display: flex;
    flex-wrap: wrap;
    /* gap: 5vw; */
    justify-content: space-around;
}

img {
    border-radius: 10px;
}

/* .headin{
    background-color: rgb(255, 119, 0);
    o
} */
.item {
    width: 30vw;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgb(255, 119, 0);
    background-color: rgba(255, 119, 0, 0.064);
    border-radius: 10px;
    margin: 20px;
}

.quantity {
    display: flex;
    width: 100px;
    justify-content: space-between;
    background-color: rgb(255, 119, 0);
    color: rgb(255, 255, 255);
}

button {
    width: 30px;
    background-color: rgb(255, 119, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 119, 0);
}

.end{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.confirm{
    width: 400px;
    height:100px;
    font-size: 30px;
    border-radius: 20px;
}

@media screen and (max-width:1000px){
    body{
        gap: 10px;
    }
    nav{
        height: 70px;
        gap: 0px;
    }
    .item{
        width: 70vw;
        height: 400px;
    }
    img{
        width: 50vw;
        height: 200px;
    }
    .confirm{
        width: 50vw;
        height: 80px;
    }
}